@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 40, 54, 24;
  --background-start-rgb: 254, 250, 224;
  --background-end-rgb: 254, 250, 224;
  /* CSS HEX */
  --dark-moss-green: #606c38ff;
  --pakistan-green: #283618ff;
  --cornsilk: #fefae0ff;
  --earth-yellow: #dda15eff;
  --tigers-eye: #bc6c25ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #283618; /* pakistan-green para predominancia verdosa */
  background: #fefae0; /* cornsilk para fondo claro */
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

.werchowlogo {
  width: 165px;
  height: 105px;
}


.smlogonoti {
  margin-top: -25px;
  width: 165px;
  height: 105px;
}

.butlist:hover {
  opacity: 0.6;
  color: gray;
  transition: opacity 0.5s ease 0s;

}

.conformnovell {
  font-size: 1em !important;
  /* 40px/16=2.5em */
  font-weight: bold !important;
  line-height: 30px !important;
}

.certFondo {

  background-image: url("../public/img/certificado.jpg");
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center center;
  

}

.ruleta {
  transform: rotate(720deg);
  transition: transform 0.5s;
}

.ruleta:active {
  transform: rotate(0deg);
  transition: 0s;
}


